@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base { /* customize own style across whole website */
  h1 {
    @apply text-6xl font-bold text-center;
  }
  h2 {
    @apply text-5xl pb-8 pt-8 font-bold;
  }
  h3 {
    @apply text-4xl pb-6 pt-6 font-bold;
  }
  h4 {
    @apply text-3xl pb-4 pt-4;
  }
  h5 {
    @apply text-2xl pb-2 pt-2;
  }
  h6 {
  }
  a {
    @apply text-gray-200 hover:text-black px-0.5 py-0.5 lg:py-1 mx-auto;
  }
  ul {
    @apply list-disc;
    @apply list-inside;
    @apply px-2;
  }
  li {
    @apply px-2;
  }
  ol {
    @apply list-decimal;
    @apply list-inside;
    @apply p-4;
  }
  p {
    @apply my-4;
  }
}

.markdown {
  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid black;
  }

  p {
    line-height: 1.5;
  }
}
